<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Previsão de Visitas</title>
    <script>
        // Script para definir o valor mínimo e máximo do campo de data
        document.addEventListener('DOMContentLoaded', function () {
            const dateInput = document.getElementById('date');
            const today = new Date();
            const maxDate = new Date();

            maxDate.setDate(today.getDate() + 10);  // Define o máximo para 10 dias a partir de hoje

            // Formatação das datas para o padrão YYYY-MM-DD exigido pelo input type="date"
            const formatDate = (date) => date.toISOString().split('T')[0];
            dateInput.min = formatDate(today);
            dateInput.max = formatDate(maxDate);
        });
    </script>
</head>
<body>
    <h1>Prever Frequência de Visitas</h1>
    <form action="/predict" method="post">
        <label for="date">Data:</label>
        <input type="date" id="date" name="date" required>
        
        <label for="period">Período do Dia:</label>
        <select id="period" name="period" required>
            <option value="manhã">Manhã</option>
            <option value="tarde">Tarde</option>
            <option value="noite">Noite</option>
        </select>

        <button type="submit">Prever</button>
    </form>

    {% if period_visits is not none %}
        <h2>Previsão de Clientes no Período {{ selected_period }}: {{ period_visits }}</h2>
        <p>Dias até a data: {{ dias_ate_a_data }}</p>
    {% endif %}
</body>
</html>
